

<div class="footerDiv" >
  
  <div class="footerLeft">
    <span><i class="fab fa-facebook-square"></i>
      <a class="contactUs"  href="/contactus"> Contact Us</a>
    </span>
    <!--<div>-->
    <!--  Careers-->
    <!--</div>-->
    <!--<div>-->
    <!--  FAQ-->
    <!--</div>-->
  </div>
  
  <div class="footerRight">
    <div class="brandFooter"> EVOLUTIO MAGAZINE </div>  
  </div>
</div>

<script src="../javascript/action.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" ></script>

<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c43e77d80b4ba001b1ee330&product=inline-share-buttons' async='async'></script>
    </body>
</html>

