<% include partials/header %>
<div class="contactPageClass">
    <div class="contactColorDiv">
        <h1>Contact Us</h1>
        <p>Feel free to drop us an email about litterally anything.</p>
        <p>Email: magazineevolutio@gmail.com </p>          
    </div>

</div>




<% include partials/footer %>