<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 class="titleEdit">Create a New Article</h1>
        <div style="width:100%; margin: 25px auto;">
            <form action="/" method="POST">
                <div class="form-group">Title
                    <input class="form-control" type="text" name="title" placeholder="title">
                </div>
                <div class="form-group">Image
                 <input class="form-control" type="text" name="image" placeholder="image url">                
                </div>
                <div class="form-group">Article Body
                 <div class="input-group articleBodyInput" type="text">
                    <textarea class="form-control" name=articleBody placeholder="Article Body" aria-label="With textarea"></textarea>
                </div>
                </div>
                <div class="form-group">Keywords
                 <input class="form-control" type="text" name="key" placeholder="keyword/tags">                
                </div>
                <div class="form-group">Date
                 <input class="form-control" type="date" name="key" placeholder="date">                
                </div>
                <div class="form-group">
                <button class="btn btn-lg btn-default btn-primary btn-block">Submit!</button>                    
                </div>
            </form>   
            <a href="/">Go Back</a>
        </div>


    </div>
    
</div>

<% include ../partials/footer %>

